# Python
*.pyc
*.pyo
*.pyd
*.so

# Environnement virtuel (virtualenv)
env/
venv/
.venv/
ENV/
ENV.bak/
venv.bak/

# IDEs/Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Django stuff
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
/media/*
!/media/.keep
!/media/*/.keep
.env
*.env

# Django static files
/static/
staticfiles/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Mac OS
.DS_Store

# Windows
Thumbs.db
